# Binaries
bin/
build/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled binaries
*/example-controller/*
*/payloads/*
!*/payloads/*.go
*/examples/modules/*/*.wasm

# OS
.DS_Store
Thumbs.db

# Node/npm
node_modules/

# Python
__pycache__/
*.pyc
venv/

# Containers
.containerfile
Dockerfile
Containerfile.*
*.tar

# Editor
.vscode/
.idea/
*.swp

# Secrets
secrets/
*.pem
*.key
.env
